

{% extends "layout.html" %}

{% block body %}

    <div class ="row">
        <div class="col-md-10 offset-md-3">
            <div class="col-lg-8">
                <h3>All Articles</h3>
                <hr>
            </div>
        </div>
    </div>

    <div class ="row">
        <div class="col-md-10 offset-md-3">
            <div class="col-lg-8">
                <form>
                    {% csrf_token %} 
                    <input type="text" name = "keyword" class="input-sm" maxlength="64" placeholder="Search...">
                    <button type="submit" class="btn btn-danger">Search</button>
                </form>
            </div>
        </div>
    </div>

    {% if articles %}

        {% for article in articles %}
            <div class="row">
                <div class="col-md-10 offset-md-3">

                <!-- Post Content Column -->
                <div class="col-lg-8">

                <!-- Title -->
                <a href="{% url 'article:detail' article.id %}"><h2 class="mt-4">{{article.title}}</h2></a> 
                    
                <!-- Author -->
                <p class="lead">
                    
                    Published by: {{article.author.username}}
                </p>

                <hr>

                <!-- Date/Time -->
                <p>{{article.created_date}}</p>
                <hr>
                <!-- Preview Image -->
                {% if article.article_image %}
                    <a href="{% url 'article:detail' article.id %}"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt=""></a>
                {% endif %}
                

                <hr>

                <!-- Post Content -->
                <p class="lead">
                    {{article.content|safe|truncatewords:50}}
                </p>

                <a style ="float: right;" href="{% url 'article:detail' article.id %}" class ="btn btn-danger">Continue...</a>
                <hr>
                    
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <div class ="row">
            <div class="col-md-10 offset-md-3">
                <div class="col-lg-8">
                    <div class = "alert alert-danger">
                        Couldn't find any article.
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock body %}