{% extends "layout.html" %}

{% block body %}
    <h3><strong>Your Articles</strong></h3> <hr>

    {% if articles %}
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">TITLE</th>
                    <th scope="col">AUTHOR</th>
                    <th scope="col">DATE</th>
                    <th scope="col">IMAGE</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <th scope="row">{{ article.id }}</th>
                        <td><a href="{% url 'article:detail' article.id %}" style="color: #fff; text-decoration: none;"><strong>{{ article.title }}</strong></a></td>
                        <td>{{ article.author.username }}</td>
                        <td>{{ article.created_date }}</td>
                        {% if article.article_image %}
                            <td>
                                <div class="col-lg-8">
                                    <a href="{% url 'article:detail' article.id %}" 
                                       style="color: #0F0;"
                                       onMouseOver="this.style.color='#fff'"
                                       onMouseOut="this.style.color='#0F0'" 
                                       >

                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                        </svg>
                                    </a>
                                </div>
                            </td>
                        {% else %}
                            <td>
                                <div class="col-lg-8">
                                    <a href="{% url 'article:detail' article.id %}" style="color: #ff3333;" onMouseOver="this.style.color='#fff'" onMouseOut="this.style.color='#ff3333'">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
                                        </svg>
                                    </a>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %} 

                </tbody>
            </table>
        {% else %}
        <div class="alert alert-danger">
            There is no any article yet.
        </div>
    {% endif %}
    <a href="{% url 'article:addarticle' %}" class="btn btn-danger">Add Article</a>
{% endblock body %}