{% extends "layout.html" %}

{% block body %}
<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

        <!-- Title -->
        <h3 class="mt-4">{{article.title}}</h3>

        <!-- Author -->
        <p class="lead">
            by
            {{article.author.username}}
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{article.created_date}}</p>

        <hr>

       <!-- Preview Image -->
       {% if article.article_image %}
         <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="">
       {% endif %}
        

        <hr>

        <!-- Post Content -->
        <p class="lead">{{article.content|safe}}</p>

        <hr>
        <h4>Comments:</h4><br>
        {% if comments %}

            {% for comment in comments %}
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                        <h5 class="mt-0">{{comment.comment_author}}</h5>
                        {{comment.comment_date}}
                        <br>
                        {{comment.comment_content}}
                </div>
            </div>
            {% endfor %}


           
          </div>
        </div>
        {% else %}
            <div class="alert alert-danger">
                This article has no any comment. Be first.
            </div>
        {% endif %}


        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form method="post" action="{% url 'article:comment' article.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input name="comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your name">
                </div>
                
              <div class="form-group">     
                <label for="formGroupExampleInput">Comment</label>         
                <textarea name="comment_content" class="form-control" rows="3"></textarea>
              </div>
              
              <button type="submit" class="btn btn-danger">Submit</button>
            </form>
          </div>
        </div>

    </div>
</div>



{% endblock body %}