{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        {% if request.user.is_authenticated %}
            <h3>Welcome {{ user.username }}</h3>
            <p>For share your blog post and lend a hand to people who needs help by clicking Dashboard tab.</p>
        {% else %}
            <h3>Welcome My Friend</h3>
            <p>You can share your blog post in here as a developer so discover people who needs help.</p>
        {% endif %}


    </div>

   
{% endblock body %}

