{% extends "layout.html" %}

{% block body %}
  {% load crispy_forms_tags %}

    <div class="row">
    
        <div class="col-md-6 offset-md-3">
            <h3>Register</h3><hr>
            <form method='post'>
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-danger">Register</button>
            </form>
        </div>
    </div>
{% endblock body %}