{% extends "layout.html" %}

{% block body %}
    {% load crispy_forms_tags %}

    <div class="row">
    
        <div class="col-md-6 offset-md-3">
            <h3>Update Article</h3><hr>
            <form method='post' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-danger">Update Article</button>
            </form>
        </div>
    </div>
{% endblock body %}